
<h1 align=center>
  <%= @blog.title %>
</h1>

<h3 align=center>
  by:<%= @blog.user_id %>
</h3>
<p>
  <%# @blog.description %>
  <%= markdown @blog.description %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
